.pup-back{
    height: 100vh;
    display: flex;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.pup-content{
    height: 300px;
    width: 300px;
   /* background-color:#eff0f0;*/
    background-size: contain;
    box-sizing: border-box;
    border-radius: 15px 15px 0 0;
    position: relative;
    box-shadow: rgb(0 0 0 / 10%) 0px 12px 24px 0px
    
}
.close{
    height: 20px;
    width: 20px;
    position: relative;
    top: 10px;
    right: 10px;
    font-size: 13px;
    /*border: 1px solid #000;
    border-radius: 50%;*/
    padding-left: 5.5px;
    line-height: 19px;
}
.close .fas{
    font-weight: 700!important;
}
.open-box{
    margin-top: 0!important;
    opacity: 1!important;
    transition: margin 0.5s,opacity 0.3s;
    
}
.close-box{
   
    display: none!important;
    transition: display 0.6s;
}
.pup{
    opacity: 0;
    margin-top: 150px;
}
.close-pup{
    margin-top: 150px!important;
    opacity: 0!important;
    transition: margin 0.3s,opacity 0.3s;
}

.pup-container{
    height: 100%;
    padding: 30px;
}

.pup-image{
    width: 100%;
    height: 55%;
    background-image: url("https://www.deriden.com.tr/Uploads/Dosyalar/%C3%87ANTA2.jpg");
    background-size: cover;
    background-position: center;
}
.button-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.button-content .text{
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.7px;
    opacity: 0.70;
    text-align: center;
    font-family: 'Roboto', sans-serif;

}
.button-win{
    height: 50px;
    background-color:#f65852 ;
    border-radius: 0 0 15px 15px;
    box-shadow: rgb(0 0 0 / 10%) 0px 12px 24px 0px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.button-text{
    color: #fff; 
    font-weight: 700;
}
.copy-button{
    position: absolute;
    right: -20px;
    z-index: 1;
    cursor: pointer;
    top: 5px;
    
}
.opacitiy1{
    display: block!important;
}
/* scratch css */

.scratchpad{
  
    width: 185px;
    height: 42px;
    
    margin:10px auto 0;
    
  }
  #coupon-text{position:absolute;
    line-height: 37px;
    left: 45px;
}
  #promo img{
      display:none!important
    }
  body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
  }
  
  @media screen and (max-width:290px) {
      .pup-content{max-inline-size: max-content;}
  }
  